#background
{
	
	background-image:url('pic1.jpg');
	background-repeat:no-repeat;
	background-size:100% 50vw;
	background-attachment:scroll
	}
#header
{
	
	color:white;
	font-family:sans-serif;
	
}	
ul
{
	list-style-type:none;
	display:inline;

}	
li
{
	float:left;
	margin-left:30px;
	margin-top:42px;
	font-size:12pt
	
}
a
{
	text-decoration:none;
	color:white;
	transition:text-decoration 5s;
}	
a:hover
{
	text-decoration:underline;
}
#text
{    
    margin-top:16%;
	margin-bottom:20%;
	text-align:center;
	color:white;
	font-size:2.5vw
}
#content1
{
 
 height:auto;
 width:auto;
 color:black;
} 
.box1
{  margin:10px 10px 10px 10px;
   height:50%;
   width:auto;
}
.box2
{   
    
   margin:5px 10px 5px 10px;
   width:30%;
   height:auto;
   

}